<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
<h1>The site is currently down</h1>
<p>We are performing maintenance, perhaps</p>

{{> footer}}
</body>
</html>