<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Project</title>
</head>
<body>
{{> header}}
<p><a href="https://github.com/FinlayS">GitHub Projects</a></p>
<p><a href="https://finlays.000webhostapp.com/">freeCodeCamp Projects</a></p>


{{> footer}}
</body>
</html>